@{
    ViewData["Title"] = "Admin Home Page";
}

@model Admin

<p> Admin Home Page</p>

Input veldjes met contactgegevens hier
<input type="text" />




@Html.ActionLink("Create New", "Create")

@*<p>@Model.Name</p>*@
