<div class="row">

<div class="card darkstyle" style="width: 10rem;">
    <img class="card-img-top img-responsive" src="~/images/Headphones.svg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Music</h5>
        <p class="card-text">Listen and enjoy my productions!</p>
        <a class="btn mainButtonStyle text-info" href="../MusicComposing/">
            Music
        </a>
    </div>
</div>

<div class="card darkstyle" style="width: 10rem;">
        <img class="card-img-top img-responsive" src="~/images/list.svg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">CV Builder</h5>
            <p class="card-text">Generate your CV here! </p>
            <a class="btn mainButtonStyle text-info" href="../CvBuilder/">
                CV Builder
            </a>
        </div>
    </div>
    
<div class="card darkstyle" style="width: 10rem;">
        <img class="card-img-top img-responsive" src="~/images/shopping-cart.svg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Shop</h5>
            <p class="card-text">Cheap 2nd hand!</p>
            <a class="btn mainButtonStyle text-info" href="../Webshop/">
                The shop!
            </a>
        </div>
    </div>

</div>
