<div class="navbar navbar-inverse navbar-fixed-bottom">
    <br>
    <div class="collapse" id="collapseExample">
        <div class="card card-body bg-dark">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
            keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
    </div>

    <p class="lightingElement" style="width:auto; display: inline-block; cursor: pointer" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false">
        <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
        &copy; 2019 Harald Hiemstra. All rights reserved
        <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
    </p>
    <br>

</div>