<div class="navbar navbar-inverse navbar-fixed-bottom">
    <p class="lightingElement" style="width:auto; display: inline-block;">
        &copy; 2019 Harald Hiemstra. All rights reserved.
    </p>
</div>